# Lesson 02 Variables and Types

# Variables

- **Variables** are named areas of computer memory for storing data.
- The **name** can be anything but should make symbolic sense to the programmer.
- We **write** to the variableâ€™s memory location with the assignment statement (=)
- We **read** from the variable by calling its name.
- Variable names must begin with a letter or _ and must only contain letters, numbers or _.

# Variables, Types and Assignment


![](https://i.imgur.com/TtTNDFx.png)

# Variables are of a Specific Type

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Type</th>
        <th>Purpose</th>
        <th>Examples</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>int</code></td>
        <td>Numeric type for integers only</td>
        <td>45, -10</td>
    </tr>
    <tr>
        <td><code>float</code></td>
        <td>Numeric type floating point numbers</td>
        <td>45, -10</td>
    </tr>
    <tr>
        <td><code>bool</code></td>
        <td>True or False values</td>
        <td>True, False</td>
    </tr>
    <tr>
        <td><code>str</code></td>
        <td>Characters and text</td>
        <td>"A", 'Mike'</td>
    </tr>
  </tbody>
</table>

# Type Detection and Conversion

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Python Function</th>
        <th>What It Does</th>
        <th>Example of Use</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>type(<em>n</em>)</code></td>
        <td>Returns the current type of <em>n</em></td>
        <td><code>type(13) == int</code></td>
    </tr>
    <tr>
        <td><code>int(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>int</b></td>
        <td><code>int("45") == 45</code></td>
    </tr>
    <tr>
        <td><code>float(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>float</b></td>
        <td><code>float(45) == 45.0</code></td>
    </tr>
    <tr>
        <td><code>str(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>str</b></td>
        <td><code>str(4.0) == '4.0'</code></td>
    </tr>
  </tbody>
</table>

# Example 1

### Understanding Variables and Types !

- Assignment
- Variables of Different Types
- Switching Types, Type Conversion
- Checking types with `type()`
- Combining `input()` with `int()`, or `float()`

In [4]:
name = "Veera"
age = 25
wage = 25.5
happy_employee = True

In [5]:
#what is the type of name?
type(name)

str

In [6]:
#what is the type  of age?
type(age)

int

In [7]:
# convert age to float
float(age)

25.0

In [8]:
# convert age to float then ask for type
type(float(age))

float

In [9]:
# from float to int, you lose decimal places
lost_wage = int(wage)
lost_wage

25

In [10]:
# switching types from str to int
name = 99
type(name)

int

In [11]:
# ValueError because you cannot convert "Tony" to float
name = "Tony"
float(name)

ValueError: could not convert string to float: 'Tony'

In [12]:
float("45")

45.0

In [13]:
int("10")/2

5.0

In [14]:
int("Mike") + "f"

ValueError: invalid literal for int() with base 10: 'Mike'

# Python String Formatting

<table style="font-size:1.0em;">
    <thead><tr>
        <th>Code</th>
        <th>Type</th>
        <th>Example</th>
        <th>Output</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>%d</code></td>
        <td><code>int</code></td>
        <td><code>print("%d" % 50)</code></td>
        <td><code>50</code></td>
    </tr>
    <tr>
        <td><code>%f</code></td>
        <td><code>int</code></td>
        <td><code>print("%.2f" % 4.5)</code></td>
        <td><code>4.50</code></td>
    </tr>
    <tr>
        <td><code>%d</code></td>
        <td><code>str</code></td>
        <td><code>print("[%s]" % "mike")</code></td>
        <td><code>[mike]</code></td>
    </tr>
  </tbody>
</table>

In [15]:
name = 'Veera'
age = 25
wage = 25.5
print("%s is %d years old. He makes $%.2f/hr" % (name, age, wage) )

Veera is 25 years old. He makes $25.50/hr

# Python F-String Interpolation

The `f` in front of the `""` tells Python to interpolate the `{}` in the string, replacing them with values of the variables.

In [16]:
name = 'veera'
age = 25
wage = 25.5

print("%s is %d years old. He makes $%.2f/hr" % (name, age, wage) )

# f-string style
print(f"{name} is {age:d} years old. He makes ${wage:.2f}/hr")

veera is 25 years old. He makes $25.50/hr
veera is 25 years old. He makes $25.50/hr

# Example 2

### Python String Formatting with inputs

- Inputs
- F-strings
- Formatting
- Alignment

In [17]:
name = "Jim"
age = 55
salary = 15.75

In [18]:
# string formatting
print("Hello there %s. How are you? " % (name))

Hello there Jim. How are you?

In [19]:
# formatting redux
print("%s makes %f per hour." % (name, salary))

Jim makes 15.750000 per hour.

In [20]:
# let's use spacing
print("%s makes %.2f per hour."  % (name, salary))

Jim makes 15.75 per hour.

In [21]:
# right alignment
print("-" * 10) # print 10 dashes
print("%10d" %(age))

----------
        55

In [22]:
# left alignment
print("-" * 10)
print("%-10d" % (age))

----------
55

# Programmatic Expressions

Programmatic Expressions contain **operators** and **operands**. They evaluate to a value, preserving type:

In [23]:
print(2 + 2)
print(2.0 + 2)
print("sh" + 'ip')
print('hi' + 2)

4
4.0
ship

TypeError: can only concatenate str (not "int") to str

# Arithmetic Operators

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Operator</th>
        <th>What it Does</th>
        <th>Example of Use</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>+</code></td>
        <td>Addition or string concenation</td>
        <td><code>3 + 4 == 7</code></td>
    </tr>
    <tr>
        <td><code>-</code></td>
        <td>Subtraction</td>
        <td><code>4 - 3 == 1</code></td>
    </tr>
    <tr>
        <td><code>*</code></td>
        <td>Multiplication</td>
        <td><code>3 * 4 == 12</code></td>
    </tr>
    <tr>
        <td><code>/</code></td>
        <td>Division</td>
        <td><code>4 / 3 == 1.33333</code></td>
    </tr>
    <tr>
        <td><code>//</code></td>
        <td>Intger division (quotent)</td>
        <td><code>13 // 3 == 4</code></td>
    </tr>
    <tr>
        <td><code>%</code></td>
        <td>Modulo (remainder)</td>
        <td><code>13 % 3 == 1</code></td>
    </tr>
    <tr>
        <td><code>( )</code></td>
        <td>Force an order of operations</td>
        <td><code>2 * (3 + 4) == 14</code></td>
    </tr>
  </tbody>
</table>




# Exercise

1. What is the output of the following python code?
```
a = 10
b = 2
c = 1 + (a/b)
print(c)
```

6.0


2. What is the value of: `type(int("1"+"4")/2)` ?

float